.sidebar{
    background-color: #171717;
    color:#b4b4b4;
    height:100vh;
    width:320px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;

}
button{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:10px;
    padding:10px;
    border-radius: 5px;
    background-color: transparent;
    border:4px solid #b4b4b4 ;
    cursor:pointer;
}

button:hover{
    background-color:rgba(255,255,255,0.05);
}

.logo{
    height:25px;
    width:25px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;

}

button span{
    font-size: 20px;
}

.history{
margin:10px;
padding:10px;
height:100%;
}

.history li{
    list-style-type:none;
    cursor:pointer;
    padding:2px 5px;
    margin-bottom:0.3rem;
    font-size: 14px;
    border:solid 10px transparent;
    position:relative;
}

.history li:hover{
background-color: rgba(100,100,100,0.05);
border-radius: 10px;
}

.sign{
    padding:10px;
    margin:10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.909);
     width:100%;
}
 .fa-trash {
  opacity: 0;
  position: absolute;
  right: 10px;
  transition: 0.2s ease;
}

.history li:hover .fa-trash { 
  opacity: 1;
  color: #fff;
}

.fa-trash:hover {
  color: #f87171 !important;
}

.highlighted{
background-color: rgba(180,180,180,0.05);
border-radius: 10px;
}
 
.newChatBtn{
    width:90%;
    margin:15px auto;
    padding:12px 15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#2f2f2f;
    border:1px solid #444;
    border-radius:12px;
    color:white;
    cursor:pointer;
    transition:.3s ease;
}

.newChatBtn:hover{
    background:#3a3a3a;
    border-color:#fff;
}

.newChatBtn i{
    font-size:16px;
}

.newChatText{
    flex:1;
    text-align:left;
    margin-left:12px;
    font-size:15px;
    font-weight:500;
}
.chat{
     margin:15px auto;
     margin-left:12px;
    font-size:15px;
    font-style: italic;
   
}